{% extends "layout.html" %}
{% block content %}
<form action="/loginData" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldUsername">Username</label>
            <input id="fldUsername" type="text" class="form-control" placeholder="Username" name="fldUsername">
        </div>
    </div>

    <div class="row">
         <div class="col">
            <label for="fldPassword">Password</label>
            <input id="fldPassword" type="text" class="form-control" placeholder="Password" name="fldPassword">
        </div>
    </div>

    <button type="submit" class="btn btn-login">Log In</button>
    <button type="submit" class="btn btn-register">Register</button>
</form>

{% endblock %}

